@{
    ViewData["Title"] = "Add Dish Page";
}
@model ChefDishesViewModel

<h1 class="text-center m-1">Add a Dish!</h1>
<div class="border border-dark p-3 m-3">
    <form method="POST" asp-action="CreateDish" asp-controller="Home">
        <div class="form-group">
            <label asp-for="Food.Name">Name of Dish</label>
            <input class="form-control" type="text" asp-for="Food.Name">
            <span class="text-danger" asp-validation-for="Food.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Food.Calories"># of Calories</label>
            <input class="form-control" type="number" asp-for="Food.Calories">
            <span class="text-danger" asp-validation-for="Food.Calories"></span>
        </div>
        <div class="form-group">
            <label asp-for="Food.ChefId">Chef</label>
            <select class="form-control" asp-for="Food.ChefId">
                @foreach(Chef chef in Model.Cooks)
                {
                <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="Food.ChefId"></span>
        </div>
        <div class="form-group">
            <label asp-for="Food.Tastiness">Tastiness</label>
            <select class="form-control" asp-for="Food.Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="text-danger" asp-validation-for="Food.Tastiness"></span>
        </div>
        <div class="form-group">
            <label asp-for="Food.Description">Description</label>
            <textarea class="form-control" asp-for="Food.Description"></textarea>
            <span class="text-danger" asp-validation-for="Food.Description"></span>
        </div>
        <button class="btn btn-primary" type="submit">Add Dish</button>
    </form>
</div>